:root {
  --bg-color: #fff;
  --fg-color: #222;
  --title-color: #111;
  --link-color: #13f;
  
  --color-or1: #f16913;
  --color-or2: #d8580d;
  --color-or3: #bf4708;
  --color-or4: #a63603;
  
  --color-rd1: #fb6a4a;
  --color-rd2: #ef3b2c;
  --color-rd3: #cb181d;
  --color-rd4: #a50f15;
  
  --color-pu1: #807dba;
  --color-pu2: #7160ab;
  --color-pu3: #62439d;
  --color-pu4: #54278f;
  
  --color-bu1: #4292c6;
  --color-bu2: #2e7cb8;
  --color-bu3: #1b66aa;
  --color-bu4: #08519c;
  
  --color-gn1: #41ab5d;
  --color-gn2: #2b964c;
  --color-gn3: #15813c;
  --color-gn4: #006d2c;
  
  --about-color: var(--color-or2);
  --portfolio-color: var(--color-rd2);
  --home-color: var(--color-pu2);
  --blog-color: var(--color-bu2);
  --contact-color: var(--color-gn2);
  
  --font-copy: Georgia, serif;
  --font-accent: Aileron, sans-serif;
  
  &[data-theme="dark"] {
    --bg-color: #050723;
    --fg-color: #e7e7f1;
    --title-color: #fff;
    --link-color: #35f;
  }
}

html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font: 16px/1.5 var(--font-copy);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > main {
  flex: 1;
  font-size: 20px;
}

body > footer {
  text-align: center;
  opacity: 0.7;
  padding: 2rem 0 1rem;
}

h1, h2, h3, h4, h5, h6,
header,
.heading-text {
  font-family: var(--font-accent);
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    opacity: .7;
  }

  .faded {
    color: #78a;
  }
}

.fg-or {
  color: var(--color-or2);
}

.fg-rd {
  color: var(--color-rd2);
}

.fg-pu {
  color: var(--color-pu2);
}

.fg-bu {
  color: var(--color-bu2);
}

.fg-gn {
  color: var(--color-gn2);
}

.bg-or {
  background-color: var(--color-or2);
}

.bg-rd {
  background-color: var(--color-rd2);
}

.bg-pu {
  background-color: var(--color-pu2);
}

.bg-bu {
  background-color: var(--color-bu2);
}

.bg-gn {
  background-color: var(--color-gn2);
}

.x-small {
  font-size: .5em;
}

.small {
  font-size: .8em;
}

.large {
  font-size: 1.2em;
}

.x-large {
  font-size: 1.5em;
}

.center-hor {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.btn {
  display: inline-block;
  font-family: var(--font-accent);
  font-weight: 700;
  padding: .5em;
  border: 2px solid;
  border-radius: .3em;
}

a.btn {
  text-decoration: none;
  
  &:hover {
    opacity: 1;
  }
}

.btn.x-small {
  border-width: 1px;
}

.btn.large {
  border-width: 3px;
}

.btn.x-large {
  border-width: 5px;
}

.btn.inline {
  display: inline;
  padding: .3em;
}

.btn.fg-or,
.btn.bg-or {
  border-color: var(--color-or3);
  
  &:hover {
    border-color: var(--color-or4);
  }
}

.btn.fg-or:hover {
  color: var(--color-or4);
}

.btn.bg-or:hover {
  background-color: var(--color-or3);
}

.btn.fg-rd,
.btn.bg-rd {
  border-color: var(--color-rd3);
  
  &:hover {
    border-color: var(--color-rd4);
  }
}

.btn.fg-rd:hover {
  color: var(--color-rd4);
}

.btn.bg-rd:hover {
  background-color: var(--color-rd3);
}

.btn.fg-pu,
.btn.bg-pu {
  border-color: var(--color-pu3);
  
  &:hover {
    border-color: var(--color-pu4);
  }
}

.btn.fg-pu:hover {
  color: var(--color-pu4);
}

.btn.bg-pu:hover {
  background-color: var(--color-pu3);
}

.btn.fg-bu,
.btn.bg-bu {
  border-color: var(--color-bu3);
  
  &:hover {
    border-color: var(--color-bu4);
  }
}

.btn.fg-bu:hover {
  color: var(--color-bu4);
}

.btn.bg-bu:hover {
  background-color: var(--color-bu3);
}

.btn.fg-gn,
.btn.bg-gn {
  border-color: var(--color-gn3);
  
  &:hover {
    border-color: var(--color-gn4);
  }
}

.btn.fg-gn:hover {
  color: var(--color-gn4);
}

.btn.bg-gn:hover {
  background-color: var(--color-gn3);
}

.trianglify {
  height: calc(1.2em + 2px);
}

.trianglify .text-wrap {
  vertical-align: -0.08em;
}

.trianglify-text,
.trianglify-canvas {
  position: absolute;
  top: 1px;
  left: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.trianglify-text {
  top: 0;
  left: 0;
  z-index: 1;
}

.trianglify-svg {
  width: 100%;
  height: 100%;

  > rect {
    fill: var(--bg-color);
  }

  mask rect,
  mask text {
    transition: fill .3s ease;
  }

  mask rect,
  &.inverted mask text {
    fill: white;
  }

  mask text,
  &.inverted mask rect {
    fill: black;
  }
}

.trianglify-ghost-text {
  position: absolute;
  top: .08em;
  color: transparent;
  line-height: 1;
  z-index: 1;
}

#site-header {
  position: sticky;
  top: -5.2rem;
  height: 3rem;
  font-size: 1.6em;
  z-index: 10;

  dl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__about,
  &__portfolio,
  &__home,
  &__blog,
  &__contact {
    display: none;
    font-weight: 700;

    a {
      color: currentColor;
    }
  }
  
  &__about {
    color: var(--about-color);
  }
  
  &__portfolio {
    color: var(--portfolio-color);
  }
  
  &__home {
    color: var(--home-color);
  }
  
  &__blog {
    color: var(--blog-color);
  }
  
  &__contact {
    color: var(--contact-color);
  }

  dl:hover dt a {
    opacity: .7;
  }
  dl dt a:hover {
    opacity: 1;
  }

  &__bar-wrapper {
    width: 100%;
    /*background-image: linear-gradient(to right, #d8580d 0, #ef3b2c 30%, #62439d 50%, #4292c6 73%, #2b964c 100%);*/
    margin-top: -1rem;
    overflow: hidden;
  }

  &__bar {
    display: block;
  }

  &__home {
    display: block;
    width: 100%;
    font-weight: 900;
    text-align: center;
    margin-top: -1rem;

    a {
      padding: .5rem;
    }
  }

  @media (min-width: 768px) {
    top: -4.7rem;

    dt {
      display: block;
    }

    &__home {
      width: auto;
      font-size: 1em;
      margin: 0 20px;

      a {
        padding: 0;
      }
    }
    dl:hover &__home a:not(:hover) {
      opacity: .9;
    }
  }
}

#header {
  line-height: 1.2;
  margin-top: 1.5rem;

  @media (min-width: 768px) {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}

#title {
  color: var(--title-color);
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 5rem;
  }

  &[data-changeable] {
    cursor: pointer;
  }

  &[data-changeable] .trianglify-ghost-text {
    text-indent: -9999px;
  }
}

.subtitle {
  color: #888;
  font-weight: 700;
  margin: .1em 0;

  a {
    color: #333;
  }

  [data-theme="dark"] & {
    color: #889;
  }
  [data-theme="dark"] & a {
    color: #bbc;
  }
}