.btn {
  --btn-color: var(--fg-color);

  display: inline-block;
  color: var(--btn-color);
  font-family: var(--font-accent);
  font-weight: 700;
  padding: .5em;
  border: 2px solid;
  border-radius: .3em;
}

a.btn {
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

.btn.x-small {
  border-width: 1px;
}

.btn.large {
  border-width: 3px;
}

.btn.x-large {
  border-width: 5px;
}

.btn.inline {
  display: inline;
  padding: .3em;
}

.btn.pill {
  border-radius: 100px;
}

.btn.fg-or,
.btn.bg-or {
  border-color: var(--color-or3);

  &:hover {
    border-color: var(--color-or4);
  }
}

.btn.fg-or:hover {
  color: var(--color-or4);
}

.btn.bg-or:hover {
  background-color: var(--color-or3);
}

.btn.fg-rd,
.btn.bg-rd {
  border-color: var(--color-rd3);

  &:hover {
    border-color: var(--color-rd4);
  }
}

.btn.fg-rd:hover {
  color: var(--color-rd4);
}

.btn.bg-rd:hover {
  background-color: var(--color-rd3);
}

.btn.fg-pu,
.btn.bg-pu {
  border-color: var(--color-pu3);

  &:hover {
    border-color: var(--color-pu4);
  }
}

.btn.fg-pu:hover {
  color: var(--color-pu4);
}

.btn.bg-pu:hover {
  background-color: var(--color-pu3);
}

.btn.fg-bu,
.btn.bg-bu {
  border-color: var(--color-bu3);

  &:hover {
    border-color: var(--color-bu4);
  }
}

.btn.fg-bu:hover {
  color: var(--color-bu4);
}

.btn.bg-bu:hover {
  background-color: var(--color-bu3);
}

.btn.fg-gn,
.btn.bg-gn {
  border-color: var(--color-gn3);

  &:hover {
    border-color: var(--color-gn4);
  }
}

.btn.fg-gn:hover {
  color: var(--color-gn4);
}

.btn.bg-gn:hover {
  background-color: var(--color-gn3);
}
