html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font: 16px/1.5 var(--font-copy);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  transition: var(--tn-fcn);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > main {
  flex: 1;
  font-size: 20px;
}

body > footer {
  text-align: center;
  color: var(--color-fg3);
  padding: 2rem 0 1rem;
}

h1, h2, h3, h4, h5, h6,
header,
.heading-text {
  font-family: var(--font-accent);
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color var(--tn-fcn);

  &:hover {
    opacity: .7;
  }

  .faded {
    color: #78a;
  }
}

img.block {
  display: block;
  max-width: 100%;
}

figcaption {
  font-size: .9em;
  font-style: italic;
}

.icon {
  stroke: currentColor;
  fill: currentColor;
}
