<header class="site-header" role="navigation">
  <dl class="site-header__wrapper">
    <dt class="site-header__home site-header__highlight" aria-label="Navigate to the home page"><a id="header-home" class="trianglify" href="/" data-cell-size="8"><span class="text-wrap">TC</span></a></dt>
    <dt class="site-header__about"><a href="/about">About</a></dt>
    <dt class="site-header__portfolio"><a href="/portfolio">Portfolio</a></dt>
    <dt class="site-header__resume"><a href="/assets/resume.pdf">Resume</a></dt>
    <dt class="site-header__blog"><a href="/archive">Blog</a></dt>
    <dt class="site-header__contact"><a href="/contact">Contact</a></dt>
    <dt class="site-header__menu-toggler site-header__highlight" role="button" aria-label="Open menu" aria-controls="mobile-menu mobile-menu-bg"><a class="menu-button" href="#"><span class="menu-blip menu-blip__1"><span></span></span><span class="menu-blip menu-blip__2"><span></span></span><span class="menu-blip menu-blip__3"><span></span></span><span class="menu-blip menu-blip__4"><span></span></span></a></dt>
  </dl>
  <div class="site-header__menu-background" id="mobile-menu-bg" aria-hidden="true"></div>
  <div class="site-header__menu" id="mobile-menu" role="menu" aria-hidden="true">
    <dl class="site-header__menu-wrapper">
      <dt class="site-header__about"><a href="/about" tabindex="-1">About</a></dt>
      <dt class="site-header__portfolio"><a href="/portfolio" tabindex="-1">Portfolio</a></dt>
      <dt class="site-header__resume"><a href="/assets/resume.pdf" tabindex="-1">Resume</a></dt>
      <dt class="site-header__blog"><a href="/archive" tabindex="-1">Blog</a></dt>
      <dt class="site-header__contact"><a href="/contact" tabindex="-1">Contact</a></dt>
    </dl>
  </div>
</header>
