<a id="top"></a>
<header class="site-header">
  <dl class="site-header__wrapper">
    <dt class="site-header__home site-header__highlight"><a id="header-home" class="trianglify" href="/" data-cell-size="8"><span class="text-wrap">TC</span></a></dt>
    <dt class="site-header__about"><a href="/about">About</a></dt>
    <dt class="site-header__portfolio"><a href="/portfolio">Portfolio</a></dt>
    <dt class="site-header__resume"><a href="/assets/resume.pdf">Resume</a></dt>
    <dt class="site-header__blog"><a href="/archive">Blog</a></dt>
    <dt class="site-header__contact"><a href="/contact">Contact</a></dt>
    <dt class="site-header__menu-toggler site-header__highlight"><a class="menu-button" href="#"><span class="menu-blip menu-blip__1"><span></span></span><span class="menu-blip menu-blip__2"><span></span></span><span class="menu-blip menu-blip__3"><span></span></span><span class="menu-blip menu-blip__4"><span></span></span></a></dt>
  </dl>
  <div class="site-header__menu-background"></div>
  <div class="site-header__menu">
    <dl class="site-header__menu-wrapper">
      <dt class="site-header__about"><a href="/about">About</a></dt>
      <dt class="site-header__portfolio"><a href="/portfolio">Portfolio</a></dt>
      <dt class="site-header__resume"><a href="/assets/resume.pdf">Resume</a></dt>
      <dt class="site-header__blog"><a href="/archive">Blog</a></dt>
      <dt class="site-header__contact"><a href="/contact">Contact</a></dt>
    </dl>
  </div>
</header>
