<header id="site-header">
  <dl>
    <dt class="trianglify" id="site-header__about" data-clr="Or"><a href="/about"><span class="text-wrap">About</span></a></dt>
    <dt class="trianglify" id="site-header__portfolio" data-clr="Rd"><a href="/portfolio"><span class="text-wrap">Portfolio</span></a></dt>
    <dt class="trianglify" id="site-header__home" data-clr="Pu"><a href="/"><span class="text-wrap">TC</span></a></dt>
    <dt class="trianglify" id="site-header__blog" data-clr="Bu"><a href="/blog"><span class="text-wrap">Blog</span></a></dt>
    <dt class="trianglify" id="site-header__contact" data-clr="Gn"><a href="/contact"><span class="text-wrap">Contact</span></a></dt>
  </dl>
</header>