<div class="showcase" id="{{ include.id }}" data-clr="{{ include.color | default: 'random' }}" data-skills="{{ include.skills }}" aria-describedby="{{ include.id }}-heading {{ include.id }}-summary">
  <picture>
<!--     <source srcset="/assets/images/projects/{{ include.id }}/{{ include.cover }}.png 1x, /assets/images/projects/{{ include.id }}/{{ include.cover }}-2x.png 2x"> -->
    <source srcset="/assets/images/projects/{{ include.id }}/{{ include.cover }}-orig.png">
    <img src="/assets/images/projects/{{ include.id }}/{{ include.cover }}-orig.png" alt="Screenshot of {{ include.title }}">
  </picture>
  <div class="showcase-bg" aria-hidden="true"><canvas class="showcase-canvas"></canvas></div>
  <div class="showcase-content">
    <h2 class="showcase-heading" id="{{ include.id }}-heading">{{ include.title }}</h2>
    <p class="showcase-summary" id="{{ include.id }}-summary">{{ include.summary | markdownify | replace: '<p>', '' | replace: '</p>', '' }}</p>
    <p class="showcase-footer" role="complementary">
      {% if include.link %}<a class="btn pill small" href="{{ include.link }}" rel="noopener noreferrer" target="_blank" aria-label="Visit project site">Visit {% include icons/external-link-alt.svg %}</a>{% endif %}
      <a class="btn pill small inverted" href="/projects/{{ include.id }}">Learn more {% include icons/arrow-right.svg %}</a></p>
  </div>
</div>
