@import "$styles/variables.css";

/**
 * Element styles
 */

h1,
h2,
h3,
h4,
h5,
h6,
header,
.heading-text {
  @apply --font-accent;
}

h1 {
  font-size: 2em;
  font-weight: var(--font-weight-black);
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-underline-position: from-font;
  transition: color var(--tn-fcn);

  &:hover {
    opacity: 0.7;
  }

  .faded {
    color: #78a;
  }

  p & {
    text-decoration: underline;
  }
}

figure {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  
  iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
  }

  figcaption {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
  }
}

[data-icon] {
  stroke: currentColor;
  fill: currentColor;
  height: 1em;
  width: auto;
  vertical-align: -0.12em;
  vertical-align: center;
}

/**
 * Alignment classes
 */

.hor-center {
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media (--gt-than-tablet) {
  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }
}

/**
 * Sizing classes
 */

.x-small {
  font-size: .5em;
}

.small {
  font-size: .8em;
}

.large {
  font-size: 1.2em;
}

.x-large {
  font-size: 1.5em;
}

/**
 * Utility classes
 */

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

/**
 * Syntax highlighting
 */

pre.astro-code {
  --shiki-default-fg: light-dark(var(--shiki-light), var(--shiki-dark));
  --shiki-default-bg: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));

  font-size: 0.9rem;
  white-space: pre-wrap;
  padding: 1rem 0;
  border: 1px solid hsl(from var(--shiki-default-fg) h s l / 0.1);
  border-radius: 0.5rem;

  counter-reset: code-line-counter;
  counter-increment: code-line-counter 0;

  .line {
    display: inline-block;
    min-width: calc(100% - 2rem);
    padding: 0 1rem;
  }

  .line::before {
    content: counter(code-line-counter);
    counter-increment: code-line-counter;
    display: inline-block;
    width: 2.5ch;
    text-align: right;
    margin-right: 2ch;
    color: hsl(from var(--shiki-default-fg) h s l / 0.6);
  }

  @media (--gt-than-tablet) {
    font-size: 1rem;

    .line:hover {
      --shiki-light-bg: color-mix(in hsl, var(--shiki-default-bg), var(--shiki-light) 5%);
      --shiki-dark-bg: color-mix(in hsl, var(--shiki-default-bg), var(--shiki-dark) 10%);
    }
  }
}

.astro-code,
.astro-code span {
  color: light-dark(var(--shiki-light), var(--shiki-dark));
  background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
  font-style: light-dark(var(--shiki-light-font-style), var(--shiki-dark-font-style));
  font-weight: light-dark(var(--shiki-light-font-weight), var(--shiki-dark-font-weight));
  text-decoration: light-dark(var(--shiki-light-text-decoration), var(--shiki-dark-text-decoration));
}

pre, code, kbd, samp {
  font-family: var(--font-family-mono);
  font-stretch: 105%;
}
