@import "$styles/variables.css";

/**
 * Element styles
 */

h1,
h2,
h3,
h4,
h5,
h6,
header,
.heading-text {
  font-family: var(--font-accent);
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color var(--tn-fcn);

  &:hover {
    opacity: 0.7;
  }

  .faded {
    color: #78a;
  }
}

figure {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  
  iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
  }

  figcaption {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
  }
}

[data-icon] {
  stroke: currentColor;
  fill: currentColor;
  height: 1em;
  width: auto;
  vertical-align: middle;
}

/**
 * Alignment classes
 */

.hor-center {
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media (--gt-than-tablet) {
  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }
}

/**
 * Colour classes
 */

.fg-or {
  color: var(--color-or2);
}

.fg-rd {
  color: var(--color-rd2);
}

.fg-pu {
  color: var(--color-pu2);
}

.fg-bu {
  color: var(--color-bu2);
}

.fg-gn {
  color: var(--color-gn2);
}

.bg-or {
  background-color: var(--color-or2);
}

.bg-rd {
  background-color: var(--color-rd2);
}

.bg-pu {
  background-color: var(--color-pu2);
}

.bg-bu {
  background-color: var(--color-bu2);
}

.bg-gn {
  background-color: var(--color-gn2);
}

/**
 * Sizing classes
 */

.x-small {
  font-size: .5em;
}

.small {
  font-size: .8em;
}

.large {
  font-size: 1.2em;
}

.x-large {
  font-size: 1.5em;
}

/**
 * Utility classes
 */

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

/**
 * Syntax highlighting
 */

pre.astro-code {
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid hsl(from currentColor h s l / 0.1);
  border-radius: 0.5rem;

  counter-reset: code-line-counter;
  counter-increment: code-line-counter 0;

  .line::before {
    content: counter(code-line-counter);
    counter-increment: code-line-counter;
    display: inline-block;
    width: 2.5ch;
    text-align: right;
    margin-right: 1.5rem;
    color: hsl(from currentColor h s l / 0.6);
  }
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
