@import "css/variables.css";
@import "css/elements.css";
@import "css/buttons.css";

@import "css/utils.css";
@import "css/alignment.css";
@import "css/sizes.css";
@import "css/colors.css";

@import "css/trianglify.css";

#site-header {
  position: sticky;
  top: -5.2rem;
  height: 3rem;
  font-size: 1.6em;
  z-index: 10;

  dl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__about,
  &__portfolio,
  &__home,
  &__blog,
  &__contact {
    display: none;
    font-weight: 700;

    a {
      color: currentColor;
    }
  }

  &__about {
    color: var(--about-color);
  }

  &__portfolio {
    color: var(--portfolio-color);
  }

  &__home {
    color: var(--home-color);
  }

  &__blog {
    color: var(--blog-color);
  }

  &__contact {
    color: var(--contact-color);
  }

  dl:hover dt a {
    opacity: .7;
  }
  dl dt a:hover {
    opacity: 1;
  }

  &__bar-wrapper {
    width: 100%;
    /*background-image: linear-gradient(to right, #d8580d 0, #ef3b2c 30%, #62439d 50%, #4292c6 73%, #2b964c 100%);*/
    margin-top: -1rem;
    overflow: hidden;
  }

  &__bar {
    display: block;
  }

  &__home {
    display: block;
    width: 100%;
    font-weight: 900;
    text-align: center;
    margin-top: -1rem;

    a {
      padding: .5rem;
    }
  }

  @media (--gt-than-tablet) {
    top: -4.7rem;

    dt {
      display: block;
    }

    &__home {
      width: auto;
      font-size: 1em;
      margin: 0 20px;

      a {
        padding: 0;
      }
    }
    dl:hover &__home a:not(:hover) {
      opacity: .9;
    }
  }
}

#header {
  line-height: 1.2;
  margin-top: 1.5rem;

  @media (--gt-than-tablet) {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}

#title {
  color: var(--title-color);
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 5rem;
  }

  &[data-changeable] {
    cursor: pointer;
  }

  &[data-changeable] .trianglify-ghost-text {
    text-indent: -9999px;
  }
}

.subtitle {
  color: var(--subtitle-color);
  font-weight: 700;
  margin: .1em 0;

  a {
    color: var(--color-fg2);
  }
}

/* Portfolio */
.showcase {
  --bg-color: var(--color-fg2);
  --fg-color: var(--color-bg1);

  position: relative;
  box-sizing: border-box;
  background-color: var(--bg-color);
  border: 5px solid var(--bg-color);
  margin-bottom: 1em;
  overflow: hidden;

  /* 10.1em is exact height with only one line of summary */
  &.loaded {
    min-height: 10.1em;
    transition: height var(--tn-fcn);
  }

  &.loaded:not(:hover) {
    height: 10.1em !important;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transform: scale(1);
    transition: var(--tn-fcn);
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color);
    opacity: 0;
    transition: opacity var(--tn-fcn);
  }

  &-canvas {
    opacity: .6;
  }

  &-content {
    color: var(--fg-color);
    margin: 1em;
    transform: translateY(5.6em);
    transition: transform var(--tn-fcn);
  }

  &-content > :not(&-heading) {
    opacity: 0;
    transition: opacity var(--tn-fcn);
  }

  &-heading {
    position: relative;
    display: inline-block;
    color: var(--fg-color);
    padding: 0 5px;
    margin: 0;
    transform: translateX(0);
    transition: transform var(--tn-fcn);
  }

  &-heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color);
    opacity: 1;
    z-index: -1;
    transition: opacity var(--tn-fcn);
  }

  &-footer {
    display: flex;
  }

  &-skills {
    flex: 1;
  }

  .btn {
    padding: .3em 1em;
    opacity: .9;
    transition: opacity var(--tn-fcn);
  }

  .btn.inverted {
    color: var(--bg-color);
    background-color: var(--fg-color);
    border-color: var(--fg-color);
    margin-left: 1em;
  }

  .btn .icon {
    vertical-align: -.15em;
    margin-left: .1em;
    transform: translate(0);
    transition: transform var(--tn-fcn);
  }

  .btn:hover {
    opacity: 1;
  }

  .btn:hover .icon-external-link-alt {
    transform: translate(.2em, -.2em);
  }

  .btn:hover .icon-arrow-right {
    transform: translate(.2em, 0);
  }

  &:hover img {
    opacity: .4;
    transform: scale(1.02);
  }

  &:hover &-bg {
    opacity: .6;
  }

  &:hover &-content {
    transform: translateY(0);
  }

  &:hover &-content > * {
    opacity: 1;
  }

  &:hover &-heading {
    background-color: transparent;
    transform: translateX(-5px);
  }

  &:hover &-heading::before {
    opacity: 0;
  }

  &-show-more,
  &-show-less {
    display: block;
    font-family: var(--font-accent);
    font-weight: 700;
    text-align: center;
  }
}

.image-carousel {
  background-color: var(--color-bg2);
  padding: 5px;
  overflow: hidden;

  picture img {
    margin-right: 10px;
    cursor: zoom-in;
  }

  &-container {
    display: flex;
    transform: translateX(0);
    transition: transform var(--tn-fcn);
  }

  &-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 10;
    cursor: zoom-out;
    transition: opacity var(--tn-fcn);
  }

  &-lightbox::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: .9;
  }

  &-lightbox.hidden {
    display: block !important;
    opacity: 0;
    pointer-events: none;
  }

  &-lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: calc(100vw - 2em);
    max-height: calc(100vh - 2em);
    transform: translateX(-50%) translateY(-50%);
  }

  &-controls {
    display: flex;
    flex-wrap: wrap;
  }

  &-controls > * {
    flex: 1;
    min-width: 50%;
  }

  &-pagination {
    order: 1;
    font-feature-settings: "tnum";
  }

  &-prev,
  &-next {
    font-family: var(--font-accent);
    font-weight: 700;
  }

  @media (--gt-than-tablet) {
    &-controls > * {
      min-width: 0;
    }

    &-pagination {
      order: 0;
    }
  }
}
