@import "css/variables.css";
@import "css/elements.css";
@import "css/buttons.css";

@import "css/utils.css";
@import "css/alignment.css";
@import "css/sizes.css";
@import "css/colors.css";

@import "css/trianglify.css";

.menu-open {
  overflow: hidden;

  .site-header__home rect {
    --bg-color: var(--color-bg3);
  }
}

.site-header {
  display: flex;
  flex-direction: row;
  height: 3rem;
  font-size: 1.6em;
  z-index: 10;

  &__wrapper {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;

    dt {
      display: none;
    }

    .site-header__highlight {
      display: block;
    }
  }

  a {
    display: block;
    height: 100%;
    color: currentColor;
  }

  &__about,
  &__portfolio,
  &__resume,
  &__blog,
  &__contact {
    font-weight: 700;
  }

  &__home {
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1;
    margin-top: -0.1em;
    z-index: 1;

    rect {
      transition: fill var(--tn-fcn);
    }
  }

  &__about {
    color: var(--about-color);
  }

  &__portfolio {
    color: var(--portfolio-color);
  }

  &__resume {
    color: var(--home-color);
  }

  &__blog {
    color: var(--blog-color);
  }

  &__contact {
    color: var(--contact-color);
  }

  &__wrapper:hover dt a {
    opacity: .7;
  }

  &__wrapper:hover &__highlight a,
  &__wrapper dt a:hover {
    opacity: 1;
  }

  @media (--gt-than-tablet) {
    top: -4.7rem;

    &__wrapper dt {
      display: block;
    }

    &__wrapper &__menu-toggler {
      display: none;
    }

    &__menu {
      display: none;
    }
  }
}

.site-header__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;

  &-toggler {
    position: relative;
    width: 2rem;
    height: 2rem;
    z-index: 1;
  }

  &-background {
    position: absolute;
    top: 2.475rem;
    right: 8.4vw;
    width: 5px;
    height: 5px;
    background-color: var(--color-bg3);
    border-radius: 100%;
    transform: scale(0);
    transition: transform .3s ease;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: calc(100vh - 10rem);
    text-align: center;
    margin: 5rem auto;
  }

  .menu-open & {
    opacity: 1;
    pointer-events: all;
  }
}

.menu-blip {
  position: absolute;
  width: .3rem;
  height: .3rem;
  transition: transform var(--tn-fcn);

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--title-color);
    transform-origin: 0 50%;
    transition: transform var(--tn-fcn);
  }

  &__1 {
    top: .4rem;
    left: .6rem;
    transform: translate(.35rem, -.1rem);

    span {
      transform: rotate(45deg);
    }
  }

  &__2 {
    bottom: .4rem;
    left: .6rem;
    transform: translate(-.1rem, -.35rem);
    
    span {
      transform: rotate(-45deg);
    }
  }

  &__3 {
    bottom: .4rem;
    right: .2rem;
    transform: translate(-.35rem, .1rem);

    span {
      transform: rotate(-135deg);
    }
  }

  &__4 {
    top: .4rem;
    right: .2rem;
    transform: translate(.1rem, .35rem);

    span {
      transform: rotate(135deg);
    }
  }
}

.menu-button:hover .menu-blip {
  transform: translate(0, 0);
}

.menu-open .menu-blip {
  &__1 span {
    transform: rotate(45deg) scaleX(2.5);
  }

  &__2 span {
    transform: rotate(-45deg) scaleX(2.5);
  }

  &__3 span {
    transform: rotate(-135deg) scaleX(2.5);
  }

  &__4 span {
    transform: rotate(135deg) scaleX(2.5);
  }
}

#header {
  line-height: 1.2;
  margin-top: 3rem;
  margin-bottom: 1.5rem;

  @media (--gt-than-tablet) {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

#title {
  color: var(--title-color);
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 5rem;
  }

  &[data-changeable] {
    cursor: pointer;
  }

  &[data-changeable] .trianglify-ghost-text {
    text-indent: -9999px;
  }
}

.subtitle {
  color: var(--subtitle-color);
  font-weight: 700;
  margin: .1em 0;

  a {
    color: var(--color-fg2);
  }
}

/* Portfolio */
.showcase {
  --bg-color: var(--color-fg2);
  --fg-color: var(--color-bg1);

  position: relative;
  box-sizing: border-box;
  background-color: var(--bg-color);
  border: 5px solid var(--bg-color);
  margin-bottom: 1em;
  overflow: hidden;

  /* 10.1em is exact height with only one line of summary */
  &.loaded {
    min-height: 10.1em;
    transition: height var(--tn-fcn);
  }

  &.loaded:not(:hover):not(:target) {
    height: 10.1em !important;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transform: scale(1);
    transition: var(--tn-fcn);
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color);
    opacity: 0;
    transition: opacity var(--tn-fcn);
  }

  &-canvas {
    opacity: .6;
  }

  &-content {
    color: var(--fg-color);
    margin: 1em;
    transform: translateY(5.6em);
    transition: transform var(--tn-fcn);
  }

  &-content > :not(&-heading) {
    opacity: 0;
    transition: opacity var(--tn-fcn);
  }

  &-content a {
    color: currentColor;
    text-decoration: underline;
  }

  &-heading {
    position: relative;
    display: inline-block;
    color: var(--fg-color);
    padding: 0 5px;
    margin: 0;
    transform: translateX(0);
    transition: transform var(--tn-fcn);
  }

  &-heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color);
    opacity: 1;
    z-index: -1;
    transition: opacity var(--tn-fcn);
  }

  @media (--gt-than-tablet) {
    &-footer {
      text-align: right;
    }
  }

  .btn {
    text-decoration: none;
    padding: .3em 1em;
    margin-right: 1em;
    margin-bottom: .3em;
    opacity: .9;
    transition: opacity var(--tn-fcn);
  }

  .btn.inverted {
    color: var(--bg-color);
    background-color: var(--fg-color);
    border-color: var(--fg-color);
    margin-right: 0;
  }

  .btn .icon {
    vertical-align: -.15em;
    margin-left: .1em;
    transform: translate(0);
    transition: transform var(--tn-fcn);
  }

  .btn:hover {
    opacity: 1;
  }

  .btn:hover .icon-external-link-alt {
    transform: translate(.1em, -.1em);
  }

  .btn:hover .icon-arrow-right {
    transform: translate(.14em, 0);
  }

  &:hover img,
  &:target img {
    opacity: .4;
    transform: scale(1.02);
  }

  &:hover &-bg,
  &:target &-bg {
    opacity: .6;
  }

  &:hover &-content,
  &:target &-content {
    transform: translateY(0);
  }

  &:hover &-content > *,
  &:target &-content > * {
    opacity: 1;
  }

  &:hover &-heading,
  &:target &-heading {
    background-color: transparent;
    transform: translateX(-5px);
  }

  &:hover &-heading::before,
  &:target &-heading::before {
    opacity: 0;
  }

  &-show-more,
  &-show-less {
    display: block;
    font-family: var(--font-accent);
    font-weight: 700;
    text-align: center;
  }
}

.image-carousel {
  background-color: var(--color-bg2);
  padding: 5px;
  overflow: hidden;

  picture img {
    margin-right: 10px;
    cursor: zoom-in;
  }

  &-container {
    display: flex;
    transform: translateX(0);
    transition: transform var(--tn-fcn);
  }

  &-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 10;
    cursor: zoom-out;
    transition: opacity var(--tn-fcn);
  }

  &-lightbox::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: .9;
  }

  &-lightbox.hidden {
    display: block !important;
    opacity: 0;
    pointer-events: none;
  }

  &-lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: calc(100vw - 2em);
    max-height: calc(100vh - 2em);
    transform: translateX(-50%) translateY(-50%);
  }

  &-controls {
    display: flex;
    flex-wrap: wrap;
  }

  &-controls > * {
    flex: 1;
    min-width: 50%;
  }

  &-pagination {
    order: 1;
    font-feature-settings: "tnum";
  }

  &-prev,
  &-next {
    font-family: var(--font-accent);
    font-weight: 700;
  }

  @media (--gt-than-tablet) {
    &-controls > * {
      min-width: 0;
    }

    &-pagination {
      order: 0;
    }
  }
}

.responsive-table {
  th, td {
    display: block;
  }

  th:first-child + td {
    margin-left: 1em;
  }

  @media (--gt-than-tablet) {
    th, td {
      display: table-cell;
    }
  }
}

.info-summary {
  padding: 1em;
  border: 5px solid var(--link-color);
  margin: 2em 0 1.5em;

  h4 {
    padding-bottom: .5em;
    border-bottom: 1px solid var(--color-fg3);
    margin: 0;
    margin-bottom: .5em;
  }

  th {
    text-align: left;
    vertical-align: top;
    padding-right: .5em;
  }

  @media (--gt-than-tablet) {
    margin-left: 1em;
    margin-right: 1em;
  }
}
