// Colors
$light-grey: #e1e1e1;
$dark-grey: #333;
$primary-color: #33c3f0;
$secondary-color: lighten($dark-grey, 13.5%);
$info-color: #1eaedb;
$warning-color: #c00;
$border-color: #bbb;
$link-color: #0c0; //#33c3f0;
$font-color: #222;

// Typography
$font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
