---
layout: default
---
<header id="header">
  <h1 id="title" data-clr="{{ page.clr }}"><span class="text-wrap">{{ page.title }}</span></h1>
  <h2 class="subtitle">{{ page.subtitle | markdownify | remove: '<p>' | remove: '</p>' }}</h2>
  <script>
    
  </script>
</header>
 <div>
  <h1 id="view-email"><a href="mailto:{email}">{email}</a></h1>
  <script>document.getElementById('view-email').innerHTML = document.getElementById('view-email').innerHTML
      .replace(/{email}/g,
        [(!![]+[])[+[]],(+[![]]+[+(+!+[]+(!+[]+[])[!+[]+!+[]+!+[]]+[+!+[]]+[+[]]+[+[]]+[+[]])])[+!+[]+[+[]]],[+!+[]]+[!+[]+!+[]]+[+[]],[!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]]+[!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]],[+!+[]]+[+[]]+[!+[]+!+[]+!+[]+!+[]],(!![]+[])[!+[]+!+[]+!+[]],([][[]]+[])[+!+[]],[!+[]+!+[]+!+[]+!+[]+!+[]+!+[]]+[!+[]+!+[]+!+[]+!+[]],[+!+[]]+[+!+[]]+[+!+[]],([][[]]+[])[+[]],(!![]+[])[+[]],(![]+[])[!+[]+!+[]],[+!+[]]+[+!+[]]+[+!+[]],[+!+[]]+[+!+[]]+[+!+[]],[+!+[]]+[+[]]+[!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]],(+(+!+[]+[+!+[]]+(!![]+[])[!+[]+!+[]+!+[]]+[!+[]+!+[]]+[+[]])+[])[+!+[]],[!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]]+[!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]],[+!+[]]+[+!+[]]+[+!+[]],[+!+[]]+[+[]]+[!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]+!+[]]]
          .map(function(a){return a|0?String[atob('ZnJvbUNoYXJDb2Rl')](a):a}).join(''));
  </script>
  <style>.domain { color: #78a }</style>

  <h1><a href="https://github.com/tyxchen"><span class="domain">github.com/</span>tyxchen</a></h1>

  <!-- in the future, put medium, linkedin, resume, etc. -->

  <h1><a href="http://wcipeg.com/user/tyxchen"><span class="domain">wcipeg.com/user/</span>tyxchen</a></h1>
</div>